/* 카드용 */
img.item {
  aspect-ratio: 1/1;
  width: 300px;
}
img.user {
  aspect-ratio: 1/1;
  width: 300px;
}
.item-container {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-between;
}
.list-group-item {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
  background-color: #fff !important;
}
/* .list-group-item:hover {
  transform: translateX(0) !important;
} */
@media (max-width: 767px) {
  .item-container {min-height: auto;}
  .item-container .btns {
    justify-content: center !important;
  }
}
.card {
  width: 100%;
  background-color: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  vertical-align: top;
}
/* .card:hover {
  cursor: pointer;
  opacity: .8;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
} */
/* .modal .card:hover {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
} */
.card .list-group-item {
  border: none;
}
@media (max-width: 768px) {
  .type-select {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .form .input-group {
    width: 100%;
  }
  .form .d-flex {
      flex-wrap: wrap;
      align-items: stretch;
  }
  .form .ms-auto {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3rem;
  }
  .form .ms-auto a {
    width: auto;
  }
}
@media (max-width: 576px) {
  img.user {
    aspect-ratio: 1/1;
    width: 65%;
  }
}