.overlayButton {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;

}

.overlayImg {
  position: relative; 
  display: inline-block;
}

.addImgDropdown::after {
  display: none !important;
}