/* 테이블 */
table {
  border: 1px #222222 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
th {
  text-align: left;
}
thead {
  font-weight: bold;
  color: #fff;
  background: #222222;
}
td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}
a {
  color: #222222;
}
